<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css"> -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="main-container main-page-background">
           

           <header>
                <div class="navbar-wrapper">
                    <nav class="navbar navbar-inverse navbar-static-top black-color" role="navigation">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="container-fluid" id="">
                            <div class="navbar-header">
                              <a href="/visitor"><img src="../images/logo.png" alt=""></a>
                            </div>
                                
                                <ul class="nav navbar-nav">
                                  <li><a href="/visitor">Home</a> </li>
                                  <!-- <li><a href="toprank"></a> </li>
                                  <li><a href="blog"></a> </li> -->
                                  <li><a href="/visitor/about">About Us</a> </li>
                                 

                                   
                                </ul>
                                <ul class="nav navbar-nav navbar-right">
                                     <li><a href="/visitor/logIn">Log In</a> </li>
                                     <li><a href="/visitor/signUp">Sign Up</a> </li>

                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </header>




          

           
<%-body%>


           
    </div>
</body>




</html>
