<div ng-app="app" ng-controller="employees">

<ul>
  <li ng-repeat="x in names">
    {{ x.name + ', ' + x.country }}
  </li>
</ul>

</div>

<script src="../angular/controllers/visitor/visitorControllers.js"></script>